
@-webkit-keyframes pulseanimation {
  0%, 100%   { opacity: 1; }
  5%        { opacity: 0.3; }
}

.pulse {
  -webkit-animation-name: 'pulseanimation';
  -webkit-animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}


.heartbeat {
  display:block;
  position:relative;
  font: 16pt 'Courier New';
  font-weight: bold;
}
a,
.heartbeat.inline {
  display:inline-block
}

#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}

.song_line {
  color: #222;
  font: 18pt 'Arial';
}

.song_time {
  color: #bbb;
  font: 12pt 'Arial';
  float: right;
}

.playing {
  color: blue;
  font: 20pt bold 'Arial';
}

.scrollablex {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

