
@-webkit-keyframes pulseanimation {
  0%, 100%   { opacity: 1; }
  5%        { opacity: 0.3; }
}

.pulse {
  -webkit-animation-name: 'pulseanimation';
  -webkit-animation-duration: 600ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}


.heartbeat {
  font:        32pt 'Courier New';
  font-weight: bold;
  position:    relative;
  display:     block;
}
a,
.heartbeat.inline {
  display:inline-block
}

#drop_zone {
  border:     2px dashed #bbb;
  padding:    25px;
  text-align: center;
  font:       20pt bold 'Vollkorn';
  color:      #bbb;
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

.song_line {
  color: #222;
  font: 18pt 'Arial';
  transition-property: color, font;
  transition-duration: 0.6s;
  transition-timing-funtion: linear, ease-in;
}

.song_time {
  color: #bbb;
  font:  12pt 'Arial';
  float: right;
}

.playing {
  color: blue;
  font:  36pt bold 'Arial';
}

.scrollable {
  width:    100%;
  height:   500px;
  overflow: scroll;
}

